.student {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    
}
.student .contain{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.student .contain .box{
    position: relative;
    background: #fff;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

.student .contain .box:nth-child(1){
    background: #B8D8D8;
}
.student .contain .box:nth-child(2){
    background: #D5E5A3
}
.student .contain .box:nth-child(3){
    background: #FFE28C
}
.student .contain .box:nth-child(4){
    background: #D6C1AB
}

.student .contain .box h2{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: #fff;
    z-index: 1;
    opacity: 0.4;
}
.student .contain .box h3{
    margin: 15px;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    /* line-height: 10px; */
}

.student .contain .box p{
    margin: 0;
    padding: 0;
    line-height: 27px;
    font-size: 15px;

}
