* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.blog-post {
    width: 100%;
    max-width: 98rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 0.8rem;
}

.blog-post__img {
    min-width: 33rem;
    height: 25rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post__img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: 0.8rem;
}

.blog-post__img::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
}

.blog-post__title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    color: #015ac2;
}

.blog-post__text {
    margin-bottom: 3rem;
    font-size: 14px;
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }

    .blog-post__img {
        min-width: 33rem;
        max-width: 33rem;        
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post__img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);        
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post__img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);        
    }
}