*{
    margin: 0px;
    padding: 0px;
 }
 body{
     height: 100%;
     width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
  
     
 
 }
 
 .container{
     margin-top: 200px;
     display: flex;
     flex-direction: column;
     height: 500px;
     width: 500px;
     background-color: rgb(133, 132, 132);
     justify-content: center;
     align-items: center;
     border: 2px solid rgb(132, 226, 195);
     border-radius: 10px;
 }
 
 #logo{
     height: 100px;
     margin-bottom: 70px;
 }
 .irr{
     width: 200px;
     border: 2px solid black;
     border-radius: 10px;
     height: 35px;
     margin: 5px 4px;
 }
 .btn{
     width: 100px;
     border: 2px solid black;
     border-radius: 10px;
     height: 30px;
     margin-top: 20px;
 
 }